Repository DMTF/libspdm, pull requests merged in 2024-01, with the labels that each got.

#2501 Fix wrong unit_test comment
  unit_test/test_spdm_requester/get_csr.c
Labels: test

#2504 Update long_chains leaf cert DMTF SPDM Extension Format
  unit_test/sample_key/long_chains/Shorter1024B_bundle_requester.certchain.der
  unit_test/sample_key/long_chains/Shorter1024B_bundle_responder.certchain.der
  unit_test/sample_key/long_chains/Shorter1024B_end_requester.cert
  unit_test/sample_key/long_chains/Shorter1024B_end_requester.cert.der
  unit_test/sample_key/long_chains/Shorter1024B_end_responder.cert
  unit_test/sample_key/long_chains/Shorter1024B_end_responder.cert.der
  unit_test/sample_key/long_chains/ShorterMAXINT16_bundle_requester.certchain.der
  unit_test/sample_key/long_chains/ShorterMAXINT16_bundle_responder.certchain.der
  unit_test/sample_key/long_chains/ShorterMAXINT16_end_requester.cert
  unit_test/sample_key/long_chains/ShorterMAXINT16_end_requester.cert.der
  unit_test/sample_key/long_chains/ShorterMAXINT16_end_responder.cert
  unit_test/sample_key/long_chains/ShorterMAXINT16_end_responder.cert.der
  unit_test/sample_key/long_chains/ShorterMAXUINT16_bundle_requester.certchain.der
  unit_test/sample_key/long_chains/ShorterMAXUINT16_bundle_responder.certchain.der
  unit_test/sample_key/long_chains/ShorterMAXUINT16_end_requester.cert
  unit_test/sample_key/long_chains/ShorterMAXUINT16_end_requester.cert.der
  unit_test/sample_key/long_chains/ShorterMAXUINT16_end_responder.cert
  unit_test/sample_key/long_chains/ShorterMAXUINT16_end_responder.cert.der
Labels: test

#2499 Add unit test for SPDM 1.3 CERTIFICATE: request attributes and response attributes
  unit_test/test_spdm_requester/encap_certificate.c
  unit_test/test_spdm_requester/get_certificate.c
  unit_test/test_spdm_responder/certificate.c
  unit_test/test_spdm_responder/encap_get_certificate.c
Labels: test

#2509 Make unit test send/receive buffer tracking more granular
  unit_test/spdm_unit_test_common/common.c
Labels: test

#2513 Update API documentation for multi-key
  doc/api/common_api.md
Labels: documentation

#2511 Enhanced unit test for SPDM 1.3 CERTIFICATE: CertModel
  unit_test/test_spdm_requester/get_certificate.c
  unit_test/test_spdm_responder/encap_get_certificate.c
Labels: test

#2528 add unit test for SPDM 1.3 MEL algorithm negotiate
  unit_test/test_spdm_requester/negotiate_algorithms.c
  unit_test/test_spdm_responder/algorithms.c
Labels: test

#2518 add unit test for SPDM 1.3 When the corresponding key usage is not set
  unit_test/test_spdm_requester/encap_challenge_auth.c
  unit_test/test_spdm_responder/challenge_auth.c
  unit_test/test_spdm_responder/key_exchange.c
  unit_test/test_spdm_responder/measurements.c
Labels: test

#2534 Enhance unit test for SPDM 1.3 MEL algorithm negotiate
  unit_test/test_spdm_requester/negotiate_algorithms.c
Labels: test

#2541 Update readme for spdm-rs.
  README.md
Labels: documentation

#2542 Mask other_param for 1.2
  library/spdm_requester_lib/libspdm_req_negotiate_algorithms.c
  library/spdm_responder_lib/libspdm_rsp_algorithms.c
Labels: bug

#2547 Add CI/CD script to detect out of date copyrights
  .github/workflows/compliance-checks.yml
  script/check_copyright_date.sh
Labels: enhancement, test

#2548 Update checkout version from 3 to 4
  .github/workflows/build.yml
  .github/workflows/code_coverage.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/compliance-checks.yml
Labels: test
